<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAluCNxcasEKSFklc8bjQsMpg5bTSZW--k</string>
	<key>GCM_SENDER_ID</key>
	<string>1061556880804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gawerfy.gas.utillity</string>
	<key>PROJECT_ID</key>
	<string>util-d4fe8</string>
	<key>STORAGE_BUCKET</key>
	<string>util-d4fe8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061556880804:ios:401f79a2c2e41fb1b76d31</string>
</dict>
</plist>